<section id="fancy-cards">
  <div class="title">
    <h1><span style="color: #ff9f43">Ca</span><span style="color: #0abde3">rds</span> <span style="color: #ee5253">Exhi</span><span style="color: #00d2d3">bit</span><span style="color: #5f27cd">ons</span></h1>
  </div>
  <div class="card-wrapper">
    <div class="card1 all-cards">
      <img src="img/code-photo.jpg" alt="">
      <h3>Krafty Dons</h3>
      <p>Krafty Don Shop is actually an online shop where you get to customize your own t-shirts and order them from anywhere you are in the world.</p>
    </div>
    <hr>

    <div class="card2 all-cards">
      <img src="img/data.jpg" alt="Eiffel Tower">
      <h3>Krafty Dons</h3>
      <p>Krafty Don Shop is actually an online shop where you get to customize your own t-shirts and order them from anywhere you are in the world.</p>
    </div>

    <div class="card3 all-cards">
      <img src="img/day-code.jpg" alt="">
      <h3>Krafty Dons</h3>
      <p>Krafty Don Shop is actually an online shop where you get to customize your own t-shirts and order them from anywhere you are in the world.</p>
    </div>
  </div>
</section>
