<section id="about" class="about">
  <div class="parallax-text">
    <h1> About Us </h1>
    <p>This will be a general description of the shop and what it does and how it actually operates
    This will also be just another text I might get suggestion for...
    This will be a general description of the shop and what it does and how it actually operates
    This will also be just another text I might get suggestion for...
    This will be a general description of the shop and what it does and how it actually operates
    This will also be just another text I might get suggestion for...
    This will be a general description of the shop and what it does and how it actually operates
    This will also be just another text I might get suggestion for...
    This will be a general description of the shop and what it does and how it actually operates
    This will also be just another text I might get suggestion for...
    </p>
    <button>Click me</button>
  </div>
</section>
