<section id="cards">
  <div class="column">
    <div class="card">
      <img src="img/life.png" alt="Jane" style="width:100%; height: 22em;">
      <div class="container">
        <h2>Tested Code</h2>
        <p class="title">Available &amp; Onstock</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>Screwed</p>
        <p><button class="button">Add to Cart &#128717;</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="img/code-photo.jpg" alt="Mike" style="width:100%; height: 22em;">
      <div class="container">
        <h2>Home: 127.0.0.1</h2>
        <p class="title">Art</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>Some fucked up lorem</p>
        <p><button class="button">Add to Cart &#128717;</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="img/day-code.jpg" alt="John" style="width:100%; height: 22em;">
      <div class="container">
        <h2>I love Js</h2>
        <p class="title">Solely Crafted</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>script(" how js works ")</p>
        <p><button class="button">Add to Cart &#128717;</button></p>
      </div>
    </div>
  </div>
</section>
