body {
  margin: 0;
  padding: 0;
}

#about {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1em;
  .wrapper {
    display: flex;
    flex-direction: column;
    h2{
      text-align: center;
      font-family: 'Cabin Sketch', cursive;
      font-size: 2em;
    }
    p{
      text-align: center;
      font-size: 1.5em;
      font-family: 'Cookie', cursive;
    }
  }
  img {
    float: left;
    box-shadow: 0 4px 8px 0 rgba(0, 9, 7, 0.8);
    border-radius: 10px;
    width: 30em;
  }
}

#app-section {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  color:#111;
  padding: 1.4em;
  #app {
    position:absolute;
    font-family: 'Merienda', cursive;
    font-size: 2em;
  }
}

// fonts

// font-family: 'Cabin Sketch', cursive;
// font-family: 'Cookie', cursive;
// font-family: 'Alice', serif;
// font-family: 'Rancho', cursive;
// font-family: 'El Messiri', sans-serif;
// font-family: 'Merienda', cursive;
// font-family: 'Overlock', cursive;
