header {
  width: 100%;
  height: 300px;
  background-color: #e1dbc4;
  text-align: center;
  position: relative;
  position: fixed;
  top: 0;
  overflow: hidden;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  h1 {
    font-size: 42px;
    color: #666;
    line-height: 230px;
    text-transform: uppercase;
    font-weight: 100;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  nav {
    position: absolute;
    bottom: 0;
    height: 60px;
    line-height: 60px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    a {
      color: #666;
      display: inline-block;
      padding: 10px 15px;
      line-height: 1;
      text-decoration: none;
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px;
      border-radius: 2px;
      &:hover {
        -moz-box-shadow: 0 0 0 1px #fff;
        -webkit-box-shadow: 0 0 0 1px #fff;
        box-shadow: 0 0 0 1px #fff;
      }
    }
  }
}


h2 {
  color: #2c3e50;
}

p {
  color: #7f8c8d;
}

/* Sticky Header Style */
/* ---------------------------------------- */

body.sticky-header {
  padding-top: 100px;

}

body.sticky-header header {
  height: 60px;

}

body.sticky-header header h1 {
  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -webkit-transform: scale(0, 0);
  transform: scale(0, 0);

}



