<!DOCTYPE Html>
<html>
  <head>
    <title>Krafty Don | Home</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>

    {{> body}}

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/TypewriterJS/1.0.0/typewriter.min.js"></script>
  <script>
   var app = document.getElementById('app'); var typewriter = new Typewriter(app, { loop: true  }); typewriter.typeString('Shop') .pauseFor(1000) .deleteAll() .typeString('Don') .pauseFor(1000)
  .deleteAll()
  .typeString('Flex')
  .pauseFor(1000)
  .deleteAll()
  .typeString('Krafty Dons *.*')
  .pauseFor(1400)
  .deleteAll()
  .start();
  </script>

  <script type="text/javascript" src="js/main.js"></script>
  </body>
</html>
