<!DOCTYPE Html>
<html>
  <head>
    <title>Krafty Don | Home</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>

    {{> body}}

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/TypewriterJS/1.0.0/typewriter.min.js"></script>
  <script>
   var app = document.getElementById('app'); 
   var typewriter = new Typewriter(app, { loop: true  });
   typewriter.typeString('Krafty Don Shop, \n')
  .pauseFor(1200)
  .typeString('One stop shop for all the Geeky customized clads')
  .pauseFor(1000)
  .start();
  </script>
  </body>
</html>
